/* Global */

 body {
      width: 90%;
     margin:auto;
 }

img {
  width : 50%;
    align: center;
    padding:100px;
}








img { 
    
    width : 50%;
}

/* Layout */

main{
  background: none;
  margin: 0 auto;
  width: 90%; /*1000px/ 1000px=1 */
}

h1 {
    margin: 50px;
    display:inline;
    height: 50px;}

p, .Me
{
  float:left;
  
}

p {
    text-align: left;
  background:none;
  padding: 100px; /* 10px / 560px = 0.01785714285714 */
  margin: 1%; /* 10px / 1000px = .01 */
  width: 50%; /* 560px / 1000px = .56 */
}

.Me {
  background: none;
  padding:100px; /* 10px/ 360 px = 0.02777777777778 */
  margin: 1%; /* 10px / 1000px = .01 */
  width: 32%; /* 360px / 1000px = .36 */
}
    

/* Typography */
h1 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align:left;
    font-size:3em;
}

p {
    background: none;
    border: none;
    padding: 20px;
    width: 200px;
}



/* Navigation */
 
li {
  float: left;
  list-style: none;
}
a:link {
    
   color: white;
  border: none;
  display: inline;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 3em;
  height: 50px;
  width: 100px;

}

a:hover {
  border-radius: 10px;
  margin-top: 20px;
  color: darkred;
  transition: all .5s;
  background: -webkit: 
}
body {
  background: -webkit-linear-gradient(90deg, #F0C27B 10%, #4B1248 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #F0C27B 10%, #4B1248 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #F0C27B 10%, #4B1248 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #F0C27B 10%, #4B1248 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #F0C27B 10%, #4B1248 90%); /* W3C */
        }
}
